@page "UserEdit/{uid:int}"
@model Project7ASP.Pages.UserEditModel
@{
    ViewData["Title"] = "UserEdit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>User Edit</h2>
<form method="post">
    <div style="display:none">
        <input type="number" asp-for="EditUser.Id" />
    </div>
    <div>
        <label for="user_name">Username: </label>
        <input asp-for="EditUser.user_name" type="text" />
    </div>
    <div>
        <label for="first_name">First Name: </label>
        <input asp-for="EditUser.first_name" type="text" />
    </div>
    <div>
        <label for="last_name">Last Name: </label>
        <input asp-for="EditUser.last_name" type="text" />
    </div>
    <div>
        <label for="age">Age: </label>
        <input asp-for="EditUser.age" type="number" />
    </div>
    <div>
        <label for="email">Email: </label>
        <input asp-for="EditUser.email" type="email" />
    </div>
    <div>
        <button type="submit">SUBMIT</button>
    </div>
</form>

